<p-toast></p-toast>
<div class="m-t-20">
  <p-table
    [value]="cashFlowCategoryList"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [tableStyle]="{'min-width': '50rem'}"
    dataKey="uuid"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="false"
    [paginator]="true"
    currentPageReportTemplate="{{ ('SHOWING' | translate) + ' {first} ' +  ('TO' | translate) + ' {last} ' +  ('OF' | translate) + ' {totalRecords} ' + ('CASH_FLOW_CATEGORIES' | translate) }}"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputTextarea
                  type="text"
                  (input)="null"
                  placeholder="{{ 'SEARCH' | translate }}"
                  class="min-w-400"
                />
          </span>

        <div class="float-right">
          <button
            type="button" pButton pRipple
            icon="pi pi-plus"
            (click)="null"
            class="mr-2"
            pTooltip="{{ 'ADD_CASH_FLOW_CATEGORY' | translate }}"
            tooltipPosition="top"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">{{ 'NAME' | translate }}</th>
        <th class="text-center">{{ 'GAIN' | translate }}</th>
        <th class="text-center">{{ 'EXPENSE' | translate }}</th>
        <th class="text-center">{{ 'SYSTEM' | translate }}</th>
        <th class="text-center">{{ 'STATUS' | translate }}</th>
        <th class="text-center" style="width: 200px !important;">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td class="text-center">
          <a class="basic-link cursor-pointer" (click)="null">
            {{ category.name }}
          </a>
        </td>
        <td class="text-center">{{ category.gain | translate }}</td>
        <td class="text-center">{{ category.expense | translate }}</td>
        <td class="text-center">{{ category.system | translate }}</td>
        <td class="text-center">{{ category.status | translate }}</td>
        <td class="text-center non-responsive-row" style="justify-content: center; width: 200px;">
          <p-button
            icon="pi pi-pencil"
            styleClass="m-r-5 m-l-5"
            [rounded]="true"
            [outlined]="true"
            [pTooltip]="'EDIT' | translate"
            tooltipPosition="top"
            (onClick)="null"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="m-r-5 m-l-5"
            [rounded]="true"
            [outlined]="true"
            [pTooltip]="'DELETE' | translate"
            tooltipPosition="top"
            (onClick)="null"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">{{ 'NO_RESULT_FOUND' | translate }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
