<div class="m-t-20">
  <div class="row">
    <div class="card col-3 p-10">
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2 px-2 dash-logo-container text-center">
            <img class="dash-logo" src="assets/img/money-bag.png">
          </div>
        </ng-template>
        <div class="dash-card-title-container">
          <span class="font-bold dash-card-title">{{ 'CURRENT_CASH_AMOUNT' | translate }}</span><br /><br />
        </div>
        <div class="text-center">
          <span class="dash-amount">{{ currentCashAmount }}</span>
        </div>
      </p-fieldset>
    </div>

    <div class="card col-3 p-10">
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2 px-2 dash-logo-container text-center">
            <img class="dash-logo" src="assets/img/money-bag-increase.png">
          </div>
        </ng-template>
        <div class="dash-card-title-container">
          <span class="font-bold dash-card-title">{{ 'CURRENT_CASH_AMOUNT' | translate }}</span><br /><br />
        </div>
        <div class="text-center">
          <span class="dash-amount">{{ currentCashAmount }}</span>
        </div>
      </p-fieldset>
    </div>

    <div class="card col-3 p-10">
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2 px-2 dash-logo-container text-center">
            <img class="dash-logo" src="assets/img/gold-money.png">
          </div>
        </ng-template>
        <div class="dash-card-title-container">
          <span class="font-bold dash-card-title">{{ 'CURRENT_CASH_AMOUNT' | translate }}</span><br /><br />
        </div>
        <div class="text-center">
          <span class="dash-amount">{{ currentCashAmount }}</span>
        </div>
      </p-fieldset>
    </div>

    <div class="card col-3 p-10">
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2 px-2 dash-logo-container text-center">
            <img class="dash-logo" src="assets/img/money-evolution.png">
          </div>
        </ng-template>
        <div class="dash-card-title-container">
          <span class="font-bold dash-card-title">{{ 'CURRENT_CASH_AMOUNT' | translate }}</span><br /><br />
        </div>
        <div class="text-center">
          <span class="dash-amount">{{ currentCashAmount }}</span>
        </div>
      </p-fieldset>
    </div>
  </div>
</div>
