.dash-logo {
  height: 34px;
  margin-left: auto;
  margin-right: auto;
}

.dash-logo-container {
  width: 33px;
  height: 33px;
  background-color: var(--primary-color-001);
}

.dash-amount {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color-700);
  padding: 20px;
}

.dash-non-colored-amount {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.dash-card-title {
  font-size: 14px;
  color: #756b52;
  font-weight: bold;
}

.dash-card-title-container {
  text-align: right;
  margin-top: -46px;
  margin-bottom: 15px;
  margin-right: -16px;
}

.negative-amount {
  color: #ff5252;
}

.null-amount {
  color: #ffa726;
}

.positive-amount {
  color: #66bb6a;
}

.dashboard-field {
  background-color: var(--primary-color-001);
}
