<div class="p-card" style="margin: 0px !important; padding: 0px !important; border-radius: 0px;">
  <p-menubar
    [style]="{
    'height': '60px',
    'border-radius': '0px'
    }"
  >
    <ng-template pTemplate="start">
      <img src="assets/img/masroufi-text.png" height="34" class="mr-2 m-l-60" />
    </ng-template>
    <ng-template pTemplate="end">
      <p-menubar
        [model]="items"
        [style]="{'border':'none'}"
      ></p-menubar>
    </ng-template>
  </p-menubar>
</div>

<p-dialog
  [header]="'ABOUT' | translate"
  [(visible)]="aboutDialogVisible"
  [style]="{width: '550px'}"
  [modal]="true"
>
  <app-about></app-about>
</p-dialog>
