<p-toast></p-toast>
<div class="m-t-20">
  <p-table
    [value]="cashFlowResultSet.result"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [tableStyle]="{'min-width': '50rem'}"
    dataKey="uuid"
    [loading]="false"
    [paginator]="false"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left p-input-icon-right ml-auto col-4">
          <i
            class="pi pi-search cursor-pointer"
            (click)="searchCashFlow()"
          ></i>
          <input
            pInputTextarea
            type="text"
            [(ngModel)]="searchCriteria.cashFlow"
            placeholder="{{ 'SEARCH' | translate }}"
            class="min-w-400"
            (keydown)="onSearchCashFlowKeydown($event)"
          />
           <i
             class="pi pi-times cursor-pointer"
             (click)="clearCashFlowSearchField()"
           ></i>
          </span>

        <div class="float-right">
          <button
            type="button" pButton pRipple
            icon="pi pi-plus"
            (click)="addCashFlow()"
            class="mr-2"
            pTooltip="{{ 'ADD_CASH_FLOW_REGISTRY_TOOL_TIP' | translate }}"
            tooltipPosition="top"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center cash-flow-col">{{ 'CATEGORY' | translate }}</th>
        <th class="text-center cash-flow-col">{{ 'NAME' | translate }}</th>
        <th class="text-center cash-flow-col">{{ 'DATE' | translate }}</th>
        <th class="text-center cash-flow-col">{{ 'AMOUNT_DT' | translate }}</th>
        <th class="text-center cash-flow-table-action">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cashFlow>
      <tr>
        <td class="text-center">
          <a class="basic-link cursor-pointer" (click)="editCashFlow(cashFlow)">
            {{ cashFlow.category }}
          </a>
        </td>
        <td class="text-center">
          <a class="basic-link cursor-pointer" (click)="editCashFlow(cashFlow)">
            {{ cashFlow.name }}
          </a>
        </td>
        <td class="text-center">
          {{ cashFlow.date ? (cashFlow.date | date : 'dd/MM/YYYY') : '' }}
        </td>
        <td class="text-center">
          <div [ngClass]="{
                            'expense-amount': (cashFlow.type === CashFlowType.EXPENSE && cashFlow.amount >= 25),
                            'low-expense-amount': (cashFlow.type === CashFlowType.EXPENSE && cashFlow.amount < 25),
                            'gain-amount': cashFlow.type === CashFlowType.GAIN
                          }">
            {{ cashFlow.type === CashFlowType.EXPENSE ? '-' : '' }}
            {{ cashFlow.amount | number : '.3-3' | spaceSeparator }}
          </div>
        </td>
        <td class="text-center non-responsive-row" style="justify-content: center; width: 200px;">
          <p-button
            icon="pi pi-pencil"
            styleClass="m-r-5 m-l-5"
            [rounded]="true"
            [outlined]="true"
            [pTooltip]="'EDIT' | translate"
            tooltipPosition="top"
            (onClick)="editCashFlow(cashFlow)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="m-r-5 m-l-5"
            [rounded]="true"
            [outlined]="true"
            [pTooltip]="'DELETE' | translate"
            tooltipPosition="top"
            (onClick)="deleteCashFlow(cashFlow)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <ng-container *ngIf="searchCashFlowIsLoading else emptyMessage">
        <tr *ngFor="let i of getArrayFromNumber(searchCriteria.size)">
          <td class="p-t-10 p-b-10 cash-flow-col"><p-skeleton /></td>
          <td class="p-t-10 p-b-10 cash-flow-col"><p-skeleton /></td>
          <td class="p-t-10 p-b-10 cash-flow-col"><p-skeleton /></td>
          <td class="p-t-10 p-b-10 cash-flow-col"><p-skeleton /></td>
          <td class="p-t-10 p-b-10 cash-flow-table-action"><p-skeleton /></td>
        </tr>
      </ng-container>
      <ng-template #emptyMessage>
        <tr>
          <td colspan="5">{{ 'NO_RESULT_FOUND' | translate }}</td>
        </tr>
      </ng-template>
    </ng-template>
  </p-table>

  <app-paginator
    (onPageChange)="onPageChange($event)"
    [resultSet]="cashFlowResultSet"
    [showPageReport]="true"
    rowName="CASH_FLOW"
  ></app-paginator>
</div>

<p-dialog
  header="header"
  [(visible)]="cashFlowDetailsDialog"
  [style]="{ width: '650px' }"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span style="font-weight: bold; font-size: large;">
      {{ cashFlowDetailsDialogHeader | translate }}
    </span>
  </ng-template>

  <ng-template pTemplate="body">
    <form [formGroup]="cashFlowDetailsForm">
      <div class="row">
        <div class="flex flex-column gap-2 col-12 d-flex f-d-column text-left p-t-10 p-b-10">
          <label for="type">{{ 'TYPE' | translate }} <span class="required"> :</span></label>
          <p-dropdown
            class="w-100"
            id="type"
            [options]="cashFlowTypeList"
            formControlName="type"
            optionLabel="key"
            optionValue="value"
            [showClear]="true"
            placeholder="{{ 'TYPE' | translate }}"
            appendTo="body"
          ></p-dropdown>
          <small
            *ngIf="
                cashFlowDetailsControls['type'].errors &&
                (cashFlowDetailsControls['type'].dirty || cashFlowDetailsControls['type'].touched)
              "
            class="col-12 p-t-4 form-text text-danger"
          >
            <div *ngIf="cashFlowDetailsControls['type'].errors?.['required']">{{ 'EMPTY_FIELD_ERROR' | translate }}</div>
          </small>
        </div>
      </div>

      <div class="row">
        <div class="flex flex-column gap-2 col-12 d-flex f-d-column text-left p-t-10 p-b-10">
          <label for="category">{{ 'CATEGORY' | translate }} <span class="required"> :</span></label>
          <p-autoComplete
            id="category"
            formControlName="category"
            [suggestions]="filteredCashFlowCategories"
            (completeMethod)="filterCategoryItems($event)"
            [dropdown]="true"
            field="label"
            (onSelect)="onSelectCategory()"
            (input)="onInputCategory($event)"
          ></p-autoComplete>
          <small
            *ngIf="
                cashFlowDetailsControls['category'].errors &&
                (cashFlowDetailsControls['category'].dirty || cashFlowDetailsControls['category'].touched)
              "
            class="col-12 p-t-4 form-text text-danger"
          >
            <div *ngIf="cashFlowDetailsControls['category'].errors?.['required']">{{ 'EMPTY_FIELD_ERROR' | translate }}</div>
          </small>
        </div>
      </div>

      <div class="row">
        <div class="flex flex-column gap-2 col-12 d-flex f-d-column text-left p-t-10 p-b-10">
          <label for="name">{{ 'NAME' | translate }} <span class="required"> :</span></label>
          <p-autoComplete
            id="name"
            formControlName="name"
            [suggestions]="filteredCashFlowList"
            (completeMethod)="filterCashFlowItems($event)"
            [dropdown]="true"
            field="label"
          ></p-autoComplete>
          <small
            *ngIf="
                cashFlowDetailsControls['name'].errors &&
                (cashFlowDetailsControls['name'].dirty || cashFlowDetailsControls['name'].touched)
              "
            class="col-12 p-t-4 form-text text-danger"
          >
            <div *ngIf="cashFlowDetailsControls['name'].errors?.['required']">{{ 'EMPTY_FIELD_ERROR' | translate }}</div>
          </small>
        </div>
      </div>

      <div class="row">
        <div class="flex flex-column gap-2 col-12 d-flex f-d-column text-left p-t-10 p-b-10">
          <label for="date">{{ 'DATE' | translate }} <span class="required"> :</span></label>
          <p-calendar
            id="date"
            formControlName="date"
            [showIcon]="true"
            styleClass="col-12"
            appendTo="body"
            (onSelect)="selectDate($event)"
          ></p-calendar>
          <small
            *ngIf="
                cashFlowDetailsControls['date'].errors &&
                (cashFlowDetailsControls['date'].dirty || cashFlowDetailsControls['date'].touched)
              "
            class="col-12 p-t-4 form-text text-danger"
          >
            <div *ngIf="cashFlowDetailsControls['date'].errors?.['required']">{{ 'EMPTY_FIELD_ERROR' | translate }}</div>
          </small>
        </div>
      </div>

      <div class="row">
        <div class="flex flex-column gap-2 col-12 d-flex f-d-column text-left p-t-10 p-b-10">
          <label for="amount">{{ 'AMOUNT_DT' | translate }} <span class="required"> :</span></label>
          <input
            id="amount"
            type="number"
            pInputText
            formControlName="amount"
            min="0"
          />
          <small
            *ngIf="
                cashFlowDetailsControls['amount'].errors &&
                (cashFlowDetailsControls['amount'].dirty || cashFlowDetailsControls['amount'].touched)
              "
            class="col-12 p-t-4 form-text text-danger"
          >
            <div *ngIf="cashFlowDetailsControls['amount'].errors?.['required']">{{ 'EMPTY_FIELD_ERROR' | translate }}</div>
          </small>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <app-save-cancel-footer
      (onCancel)="hideCashFlowDetailsDialog()"
      (onSave)="saveCashFlow($event)"
      [saveIsDisabled]="cashFlowDetailsForm.invalid"
      [saveIsLoading]="saveIsLoading"
    ></app-save-cancel-footer>
  </ng-template>
</p-dialog>

<p-dialog
  header="header"
  [(visible)]="deleteCashFlowDialog"
  [style]="{ width: '600px' }"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span style="font-weight: bold; font-size: large;">
      {{ 'DELETE_CASH_FLOW_REGISTRY' | translate }}
    </span>
  </ng-template>
  <p>
    {{ 'DELETE_CASH_FLOW_REGISTRY_CONFIRM_Q' | translate }}
    <span style="font-weight: bold;">{{ ' ' + currentCashFlowName }}</span> ?
  </p>
  <ng-template pTemplate="footer">
    <app-confirm-cancel-footer
      (onCancel)="hideCashFlowCategoryDialog()"
      (onConfirm)="confirmDeleteCashFlow($event)"
      [confirmIsLoading]="deleteIsLoading"
    ></app-confirm-cancel-footer>
  </ng-template>
</p-dialog>
