<p-tabView
  styleClass="tabview-custom"
  (onChange)="onTabChanged($event)"
  [(activeIndex)]="tabIndex"
>
  <p-toast></p-toast>
  <p-tabPanel [headerStyle]="{'width': '100%'}">
    <ng-template pTemplate="header">
      <i class="pi pi-database"></i>
      <span class="m-l-10">{{ 'CASH_FLOW' | translate }}</span>
    </ng-template>
    <app-cash-flow></app-cash-flow>
  </p-tabPanel>
  <p-tabPanel [headerStyle]="{'width': '100%'}">
    <ng-template pTemplate="header" class="text-center">
      <i class="pi pi-server"></i>
      <span class="m-l-10">{{ 'CASH_FLOW_CATEGORY' | translate }}</span>
    </ng-template>
    <app-cash-flow-category></app-cash-flow-category>
  </p-tabPanel>
</p-tabView>
