.breadcrumb-full-width {
  display: flex;
  width: 100%;
  align-items: center;
}

.breadcrumb-full-width .p-breadcrumb {
  width: 100%;
}

.app-container {
  padding-top: 52px;
}

.component-container {
  padding-left: 280px;
}
