<app-splash-screen *ngIf="contextIsLoading"></app-splash-screen>
<div class="z-index-0" *ngIf="!contextIsLoading">
  <div class="position-fixed z-index-3" style="width: 100%;">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="non-responsive-row z-index-0 app-container">
    <app-side-bar></app-side-bar>
    <div class="p-t-10 component-container w-100">
<!--      <div class="card flex justify-content-center p-l-10 w-100">-->
<!--        <p-breadcrumb-->
<!--          [model]="breadcrumbItems"-->
<!--          [home]="home"-->
<!--          [style]="{'width': 'calc(100vw - 326px)'}"-->
<!--          class="breadcrumb-full-width"-->
<!--        >-->
<!--        </p-breadcrumb>-->
<!--      </div>-->
        <p-card
          [style]="{
            'width':'calc(100% - 20px)',
            'min-height': 'calc(100vh - 80px)',
            'margin-top': '8px',
            'margin-bottom': '10px',
            'margin-left': '10px',
            'padding-top': '2px',
            'padding-bottom': '10px',
            'padding-left': '20px',
            'padding-right': '20px'
          }"
        >
          <router-outlet></router-outlet>
        </p-card>
    </div>
  </div>
</div>
